@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@fortawesome/fontawesome-free/css/all.min.css');

@font-face {
    font-family: 'Baloo';
    src: url('/src/assets/font/BalooDa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'DroidSans';
    src: url('/src/assets/font/DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }